
<div class="container">
  <div class="d-flex justify-content-center"
    <%= image_tag "bannerphoto.jpeg", alt: "Le Wagon", width: 200 %>
    <h1>all my lists</h1>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div><%= link_to "#{list.name}", list_path(list.id) %></div>
    <% end %>
    <br>

    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
  <%# <%= link_to 'Create new list', new_list_path %>
</div>
