<h1>My list</h1>
<p>
  <%= link_to "See all bookmarks", list_bookmarks_path(params[:id]) %> |
  <%= link_to "Delete", list_path,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</p>
<p>
  <%= link_to "Create new bookmark",  new_list_bookmark_path(params[:id]) %>
</p>
<br>
<br>
<%= link_to 'Back to all lists', lists_path %>
