// Define variables for your color scheme

// For example:
$red: #E14D2A;
$blue: #3E6D9C;
$navy: #001253;
$yellow: #FFBF00;
$orange: #FD841F;
$green: #10A19D;
$gray: #0E0000;
$light-gray: #F4F4F4;

$purple: #540375;
$hazypurp: #4D455D;
$lightpurp: #B05A7A;
$burntcoral: #C27664;
$coral: #E96479;
$darksand: #E4C988;
$lightsand: #F5E9CF;
$lightmint: #7DB9B6;
$lightmint2: #84D2C5;
